h1.h1FinalizarCompra {
    text-align: center;
    margin: 5rem 0rem 0rem 0rem;
}

input.inputform {
    text-align: center;
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    border-color: rgba(0, 0, 0, 0.204);
}


button#terminoCompra {
    background-color: rgba(13, 255, 0, 0.526);
    color: white;
    display: block;
    padding: 1rem 3rem;
    margin: 3rem auto;
    font-size: 1.5rem;
    border: solid white;
}
