div.messi {
    video.messi {
        width: 100%;
        height: auto;
    }
}

h2.recomendados {
    text-align: center;
    padding: 10rem 0rem 5rem 0rem;
    font-size: 3rem;
}

h3.adidas {
    cursor: pointer;
    text-decoration: underline;
}

section.productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    margin-bottom: 15rem;
    gap: 10rem;
    div.productos-1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 0rem 0rem;
        gap: 5rem;
        div.productos {
            width: 30rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            box-shadow: 0rem 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.097);
            &:hover {
                transform: scale(1.01);
                transition: 1s;
            }
            img.productos {
                display: flex;
                width: 100%;
            }
            h3.productos {
                display: flex;
                padding: 1rem 0rem 0rem 0rem;
                font-size: 1.8rem;
            }
            h4.productos {
                display: flex;
                padding: 2rem 0rem 0rem 0rem;
                margin: 0rem;
                font-size: 1.2rem;
            }
            button.btnProd {
                background-color: black;
                color: white;
                border-color: white;
                margin: 1rem 6rem;
                padding: 1rem;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.071);
                    color: black;
                    transition: 1.2s;
                }
            }
        }
    }
}

section#sectionGlobal {
    display: flex;
    section#filtros {
        display: flex;
        flex-direction: column;
        width: 10%;
        align-items: center;
        text-decoration: underline;
        gap: 3rem;
        cursor: pointer;
    }
    section#container {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        gap: 10rem;
        justify-content: center;
        margin-bottom: 10rem;
        div.divProductos-1 {
            box-shadow: 0rem 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.071);
            &:hover {
                transition: 1s;
                transform: scale(1.01);
            }
        }
    }
}



a.boton {
    background-color: black;
    border-color: white;
    font-size: 1rem;
    &:hover {
        transition: 1s;
        background-color: rgb(219, 219, 219);
        border-color: white;
        color: rgba(0, 0, 0, 0.678);
    }
}


div.divProdAgregados {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    img.imgProdAgregados {
        width: 10rem;
    }
}

#totalCompra {
    text-align: center;
    font-size: 1.5rem;
}

img.carrito {
    width: 2.5rem;
}

nav.navCarrito {
    background-color: rgba(0, 0, 0, 0);
    div.divCarrito {
        background-color: rgba(0, 0, 0, 0);
        button.buttonCarrito {
            border-color: rgba(255, 255, 255, 0);
        }
    }
}

button#finalizarCompra {
    color: white;
    background-color: rgba(17, 255, 0, 0.441);
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-radius: 1rem;
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem;
}